.main{
    min-width: 40px;
    height: 60px;
    width: auto;
    outline: none;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.884)!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.DetailMain{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    background-color: #3c4317c9;
}

.texthere{
    display: flex;
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    transition: all 500ms ease-in-out;
    background-color:  rgba(255, 255, 255, 0.884)!important;
    justify-content: center;
}

.texthere p{
    color: #3c4317;
    font-size: 20px;
    font-weight: bold;
}

.DetailMain:hover{
    background-color: #3c4317!important;
}

.texthere:hover{
    background-color: #90aa04!important;
}

.texthere:hover .texthere p{
    color: white!important;
}



